@charset "UTF-8";

.footer {
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px 14px 160px 14px;
  letter-spacing: -0.25px;
}
.footer__section {
  padding: 20px 0;
  font-size: 10px;
  line-height: 18px;
  border-bottom: 1px solid #444;
}
.footer__1 strong {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}
.footer__4 {
  display: flex;
  justify-content: space-between;
}
.footer__link a {
  text-decoration: none;
  color: #fff;
}

.footer__3 p:last-child {
  margin-top: 1rem;
}

.footer__link a::after {
  content: " | ";
  margin: 0 4px;
}
.footer__link a:last-child::after {
  content: "";
}
.footer__sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
.footer__sns a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.footer__sns a:first-child::after {
  content: " | ";
  font-size: 1rem;
  margin: 0 10px;
}
.snsIcon {
  max-width: 14px;
}

.footer__web {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 20px 40px;
  }
  .footer__mobile {
    display: none;
  }
  .footer__web {
    display: block;
  }
  .footer__1 {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .footer__1__left strong {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .footer__1__left:last-child {
    margin-bottom: 6px;
  }
  .footer__1__right {
    height: 100%;
  }
  .footer__1__right ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer__1__right ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  .footer__1__right ul li a {
    text-decoration: none;
    color: #fff;
  }
  .footer__2 {
    padding: 20px 0 40px 0;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: none;
    flex-wrap: wrap;
  }
  .link__company {
    margin-top: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 6px;
  }
  .link__company li {
  }
  .link__company li::after {
    content: " | ";
    margin: 0 10px;
  }
  .link__company li:last-child::after {
    content: "";
  }
  .link__company li a {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }
  .footer__2__right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__2__right ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
  }
  .footer__2__right ul li a {
    text-decoration: none;
    color: #fff;
  }
  .icon {
    font-size: 1.2rem;
    margin-right: 6px;
  }
}
